.about_me {
  @media (max-width: 490px) {
    padding: unset;
    flex-direction: column;

    h2 {
      margin: 2rem 0 !important;
      text-align: center;
    }

    p {
      width: 90% !important;
      padding: 0 !important;
      margin: 0 auto;
    }

    .main_img {
      height: 250px;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
      }
    }
  }
  margin-top: -8rem;
  display: flex;
  padding: 0 15rem;

  h2 {
    line-height: 44px;
    font-size: 3.2rem;
    margin: 10rem 0 3rem -8rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 23px;
    color: $blackthree;
    margin-bottom: 3rem;
    padding-left: 3rem;
    width: 60ch;
  }
}

.featured {
  @media (max-width: 490px) {
    margin: 2rem 0;
    h2 {
      line-height: 35px;
    }
    .companies {
      width: 100% !important;
      margin-bottom: 5rem !important;
    }
  }
  margin: 10rem 0;

  .companies {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    img {
      margin: 1rem 2rem;
    }
  }
}

.about_video {
  @media (max-width: 490px) {
    h2 {
      line-height: 35px;
    }
    p {
      width: 100% !important;
    }

    img {
      width: 100%;
    }
  }
  p {
    text-align: center;
    margin: 0 auto;
    width: 80ch;
    font-size: 1.5rem;
    line-height: 23px;
    color: $blackthree;
    margin-bottom: 2rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}
