/* color pallette */

$primaryclr: #ff5300;
$secondaryclr: #f5f5f5;
$tetiaryclr: #e5e5e5;
$grayclr: #c2c2c2;
$graytwo: #acacac;
$graythree: #999999;
$blackclr: #222222;
$blacktwo: #555555;
$blackthree: #777777;

$mainshadow: 0px 20px 20px rgba(#3e3e3e, 0.1);
