/* color pallette */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.pd {
  padding: 0 10rem;
}

@media (max-width: 500px) {
  .pd {
    padding: 0 2rem;
  }
}

input,
select,
textarea {
  font-family: "Josefin Sans", sans-serif;
}

.btn {
  font-size: 1.5rem;
  text-transform: capitalize;
  border-radius: 0.3rem;
  background-color: #ff5300;
  color: white;
  padding: 1.2rem 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.footer_heading {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 4rem;
}

.section_heading {
  text-align: center;
  font-size: 3.2rem;
  line-height: 60px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 2rem;
}

.menu_clicked {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  color: white;
}

.burger_menu {
  display: none;
}

.main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 40;
}

@media (max-width: 490px) {
  .main_header {
    top: 30px;
    padding: 0;
    height: 80px;
  }
  .main_header .logo {
    height: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .main_header .logo img {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .main_header .search_btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main_header .search_btn i {
    font-size: 2rem;
  }
  .main_header .burger_menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 500;
  }
  .main_header .burger_menu i {
    font-size: 2rem;
  }
  .main_header nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
    -webkit-transition: -webkit-transform 350ms ease-in-out;
    transition: -webkit-transform 350ms ease-in-out;
    transition: transform 350ms ease-in-out;
    transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
    z-index: 400;
  }
  .main_header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main_header nav ul li a {
    color: white;
    font-size: 2rem;
  }
  .main_header .cta_btn {
    display: none !important;
  }
}

.main_header .logo {
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.main_header .logo:hover {
  opacity: 0.6;
}

.main_header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main_header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
}

.main_header nav ul a {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #222222;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  position: relative;
}

.main_header nav ul a::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 80%;
  right: 50%;
  -webkit-transform: translatex(50%) scalex(0);
          transform: translatex(50%) scalex(0);
  bottom: -50%;
  background-color: #ff5300;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.main_header nav ul a:active, .main_header nav ul a:hover {
  color: #ff5300;
}

.main_header nav ul a:active::before, .main_header nav ul a:hover::before {
  -webkit-transform: translateX(50%) scalex(1);
          transform: translateX(50%) scalex(1);
}

.main_header .cta_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header .cta_btn a {
  padding: 1.4rem 2.2rem;
}

.main_header .cta_btn a:last-child {
  color: #ff5300;
  background-color: unset;
  border: 1px solid #ff5300;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header .cta_btn a:last-child img {
  margin-right: 1rem;
  height: 13px;
}

.hero_section {
  background-image: url("../assets/svg/back_hero.svg");
  height: 650px;
  position: relative;
}

.hero_section .main_content {
  width: 70%;
  padding-top: 17rem;
}

.hero_section .main_content .mini_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.hero_section .main_content .mini_heading .line {
  background-color: #ff5300;
  height: 2px;
  width: 3rem;
  margin-right: 1rem;
}

.hero_section .main_content .mini_heading span {
  font-size: 1.4rem;
  color: #ff5300;
  margin-right: 1rem;
}

.hero_section .main_content h1 {
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 3rem;
}

.hero_section .main_content p {
  font-size: 1.6rem;
  line-height: 24px;
  color: #555555;
  width: 60ch;
  margin-bottom: 2rem;
}

.hero_section .main_content .audio_player {
  margin: 2rem 0;
}

.hero_section .main_content .streaming_links a {
  margin-right: 1rem;
}

.hero_section .main_content .audio_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_section .main_content .audio_player button,
.hero_section .main_content .audio_player a {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.hero_section .main_content .audio_player button:hover,
.hero_section .main_content .audio_player a:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.hero_section .main_content .audio_player button i,
.hero_section .main_content .audio_player a i {
  font-size: 2rem;
  margin: 0 1rem;
  color: #222222;
}

.hero_section .main_content .audio_player .volume {
  position: relative;
  width: 50px;
}

.hero_section .main_content .audio_player .volume input {
  -webkit-appearance: none;
  position: absolute;
  width: 80px;
  background-color: #ff5300;
  height: 5px;
  border-radius: 3rem;
  outline: none;
  bottom: -100%;
  right: 0%;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 400ms ease, -webkit-transform 400ms ease;
  transition: opacity 400ms ease, -webkit-transform 400ms ease;
  transition: transform 400ms ease, opacity 400ms ease;
  transition: transform 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
}

.hero_section .main_content .audio_player .volume input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #222222;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.hero_section .main_content .audio_player .play_btn i {
  font-size: 4rem;
  color: #ff5300;
}

.hero_section .main_content .audio_player span {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff5300;
  width: 35px;
}

.hero_section .main_content .audio_player .progress_bar input {
  -webkit-appearance: none;
  width: 250px;
  color: #ff5300;
  background-color: #ff5300;
  border: none;
  height: 6px;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
}

.hero_section .main_content .audio_player .progress_bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ff5300;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 10px solid white;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

.hero_section .profile_hero {
  height: 500px;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

@media (max-width: 490px) {
  .hero_section .main_content {
    padding-top: 5rem;
    width: 100%;
  }
  .hero_section .main_content h1 {
    font-size: 3rem;
    line-height: 40px;
  }
  .hero_section .main_content p {
    width: 100%;
  }
  .hero_section .main_content .audio_player {
    margin: 1rem 0 4rem 0;
  }
  .hero_section .main_content .audio_player .progress_bar input {
    width: 170px;
  }
  .hero_section .main_content .audio_player span {
    display: none;
  }
}

.latest_podcasts {
  position: relative;
}

.latest_podcasts .main_content {
  margin-top: -4rem;
  -webkit-box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
          box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
  background-color: #ffff;
  border-radius: 8px;
}

.latest_podcasts .main_content .upper_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}

.latest_podcasts .main_content .upper_section h2 {
  text-transform: capitalize;
  font-size: 3.2rem;
  font-weight: 500;
}

.latest_podcasts .main_content .upper_section a {
  padding: 1.2rem 2rem;
}

.latest_podcasts .main_content article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 4rem auto;
  height: 198px;
}

.latest_podcasts .main_content article .the_img {
  height: 198px;
  width: 25%;
  border-radius: 1rem;
  overflow: hidden;
}

.latest_podcasts .main_content article .the_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.latest_podcasts .main_content article .the_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 550px;
  padding: 0 1rem 0 3rem;
}

.latest_podcasts .main_content article .the_content h3 {
  font-size: 2.4rem;
  line-height: 60px;
}

.latest_podcasts .main_content article .the_content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777777;
  line-height: 23px;
}

.latest_podcasts .main_content article .the_content .audio_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest_podcasts .main_content article .the_content .audio_player button,
.latest_podcasts .main_content article .the_content .audio_player a {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.latest_podcasts .main_content article .the_content .audio_player button:hover,
.latest_podcasts .main_content article .the_content .audio_player a:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.latest_podcasts .main_content article .the_content .audio_player button i,
.latest_podcasts .main_content article .the_content .audio_player a i {
  font-size: 2rem;
  margin: 0 1rem;
  color: #222222;
}

.latest_podcasts .main_content article .the_content .audio_player .volume {
  position: relative;
  width: 50px;
}

.latest_podcasts .main_content article .the_content .audio_player .volume input {
  -webkit-appearance: none;
  position: absolute;
  width: 80px;
  background-color: #ff5300;
  height: 5px;
  border-radius: 3rem;
  outline: none;
  bottom: -100%;
  right: 0%;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 400ms ease, -webkit-transform 400ms ease;
  transition: opacity 400ms ease, -webkit-transform 400ms ease;
  transition: transform 400ms ease, opacity 400ms ease;
  transition: transform 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
}

.latest_podcasts .main_content article .the_content .audio_player .volume input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #222222;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.latest_podcasts .main_content article .the_content .audio_player .play_btn i {
  font-size: 4rem;
  color: #ff5300;
}

.latest_podcasts .main_content article .the_content .audio_player span {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff5300;
  width: 35px;
}

.latest_podcasts .main_content article .the_content .audio_player .progress_bar input {
  -webkit-appearance: none;
  width: 250px;
  color: #ff5300;
  background-color: #ff5300;
  border: none;
  height: 6px;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
}

.latest_podcasts .main_content article .the_content .audio_player .progress_bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ff5300;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 10px solid white;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

.latest_podcasts .main_content article .the_tags {
  margin-left: 0.5rem;
  padding-left: 2rem;
  border-left: 1px solid #e5e5e5;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.latest_podcasts .main_content article .the_tags span {
  display: block;
  color: #c2c2c2;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.latest_podcasts .main_content article .the_tags span a {
  color: #c2c2c2;
}

.latest_podcasts .main_content .down_section {
  padding: 2rem 0;
}

.latest_podcasts .main_content .down_section a {
  color: #ff5300;
  background-color: unset;
  border: 1px solid #ff5300;
  margin: 0 auto;
  display: block;
  width: 10%;
  text-align: center;
}

@media (max-width: 490px) {
  .latest_podcasts {
    margin-top: 6rem;
    padding: 0;
  }
  .latest_podcasts .main_content .upper_section h2 {
    font-size: 2rem;
  }
  .latest_podcasts .main_content .down_section a {
    width: 50%;
  }
}

.blog_posts {
  margin-top: 15rem;
}

.blog_posts h2 {
  font-size: 3.2rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

.blog_posts .list_article {
  width: 100%;
  height: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  gap: 3rem;
}

.blog_posts .list_article article {
  padding: 4rem 3rem 0 3rem;
  height: 400px;
  width: 350px;
  -webkit-box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
          box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
  border-radius: 6px;
  margin: 2rem 0rem;
}

.blog_posts .list_article article .credits {
  margin-left: -3rem;
  border-left: 3px solid #ff5300;
  padding-left: 3rem;
}

.blog_posts .list_article article .credits .author {
  font-size: 1.6rem;
  color: #ff5300;
  text-transform: capitalize;
}

.blog_posts .list_article article .credits span,
.blog_posts .list_article article .credits a {
  font-size: 1.4rem;
  color: #acacac;
}

.blog_posts .list_article article .credits span:last-child,
.blog_posts .list_article article .credits a:last-child {
  display: block;
  margin-top: 0.5rem;
}

.blog_posts .list_article article .main h3 {
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 34px;
  margin: 2rem 0;
  min-height: 110px;
}

.blog_posts .list_article article .main p {
  line-height: 23px;
  font-size: 1.5rem;
  color: #777777;
  margin-bottom: 4rem;
  max-height: 60;
}

.blog_posts .list_article article .main .read_more_btn a {
  background-color: unset;
  color: #ff5300;
  border: 1px solid #ff5300;
}

@media (max-width: 490px) {
  .blog_posts {
    margin: 15rem 0 100rem 0;
  }
}

.newsletter_form {
  margin: 12rem 0;
}

.newsletter_form h2 {
  font-size: 3.2rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  text-decoration: underline;
}

.newsletter_form p {
  line-height: 23px;
  font-size: 1.5rem;
  color: #777777;
  margin: 2rem auto;
  text-align: center;
  width: 60ch;
}

.newsletter_form form {
  width: 50%;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter_form form input {
  width: 80%;
  height: 100%;
  border-radius: 3px 0 0 3px;
  border: none;
  background-color: #f5f5f5;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 2rem;
  font-size: 1.4rem;
}

.newsletter_form form button {
  border: none;
  outline: none;
  height: 100%;
  border-radius: 0 3px 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.newsletter_form form button img {
  margin-left: 1rem;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 400ms ease, -webkit-transform 400ms ease;
  transition: opacity 400ms ease, -webkit-transform 400ms ease;
  transition: opacity 400ms ease, transform 400ms ease;
  transition: opacity 400ms ease, transform 400ms ease, -webkit-transform 400ms ease;
}

.newsletter_form form button:hover img {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 490px) {
  .newsletter_form h2 {
    font-size: 2.5rem;
  }
  .newsletter_form p {
    width: unset;
  }
  .newsletter_form form {
    width: 100%;
  }
}

footer .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 490px) {
  footer .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .main > * {
    margin: 1rem 0;
  }
  footer .main .section_list ul {
    margin-top: 2rem;
  }
  footer .main .section_4 .streaming_links a:first-child {
    margin-top: 1rem;
  }
}

footer .main > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .main .section_1 {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

footer .main .section_1 p {
  font-size: 1.4rem;
  color: #999999;
  margin: 2rem 0;
  width: 30ch;
  line-height: 24px;
}

footer .main .section_1 .social_links h4 {
  margin-bottom: 1rem;
}

footer .main .section_1 .social_links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .main .section_1 .social_links .links a {
  height: 40px;
  width: 40px;
  border: 1px solid #ff5300;
  border-radius: 50%;
  margin: 2rem 1.5rem 2rem 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

footer .main .section_1 .social_links .links a:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

footer .main .section_list ul li {
  margin-bottom: 2rem;
}

footer .main .section_list ul li a {
  color: #999999;
  font-size: 1.4rem;
  text-transform: capitalize;
}

footer .main .section_4 .streaming_links a {
  display: block;
  margin-bottom: 1rem;
}

footer small {
  font-size: 1.4rem;
  color: #999999;
  text-align: center;
  display: block;
  margin: 6rem 0 0rem 0;
  padding: 4rem 0;
  border-top: 1px solid #e5e5e5;
}

.page_section {
  height: 450px;
  background-image: url(../assets/svg/page_back.svg);
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: capitalize;
}

@media (max-width: 490px) {
  .page_section {
    height: 300px;
  }
  .page_section h1 {
    font-size: 3rem !important;
  }
}

.page_section h1 {
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 60px;
  text-decoration: underline;
}

.page_section .links a {
  font-size: 1.4rem;
  color: #555555;
}

nav ul .current-menu-item a {
  color: #ff5300;
}

nav ul .current-menu-item a::before {
  -webkit-transform: translateX(50%) scalex(1);
          transform: translateX(50%) scalex(1);
}

.search_btn i {
  font-size: 3rem;
  color: #ff5300;
  margin: 0 2rem;
  cursor: pointer;
}

.search_overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2000;
  display: none;
}

.search_input {
  width: 50%;
  margin: 0 auto;
}

.search_input h3 {
  color: white;
  font-size: 5rem;
  text-transform: capitalize;
  margin-top: 4rem;
}

.search_input div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.search_input div i {
  font-size: 3rem;
  color: #ff5300;
  margin: 0 2rem;
}

.search_input div input {
  width: 100%;
  padding: 1.2rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 2rem;
  outline: none;
}

.fa-times {
  font-size: 4rem;
  color: white;
  position: absolute;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
}

.search_active {
  display: block;
}

.fa-spinner {
  margin: 5rem auto;
  font-size: 4rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: spinner 2000ms linear infinite;
          animation: spinner 2000ms linear infinite;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.search_results {
  width: 50%;
  margin: 0 auto;
}

.search_results h3 {
  color: white;
  font-size: 4rem;
  text-align: center;
  margin: 3rem 0;
}

.search_results a {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.search_results p {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.search_results li {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.authorby {
  display: inline-block;
  margin-left: 1rem;
  font-size: 3rem;
  margin-bottom: 0;
}

@media (max-width: 490px) {
  .search_overlay i {
    font-size: 3rem;
    top: 2rem;
    right: 2rem;
  }
  .search_overlay .search_input {
    width: 90%;
    margin-top: 10rem;
  }
  .search_overlay .search_input h3 {
    font-size: 2rem;
  }
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 3000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.preloader i {
  color: black;
  font-size: 5rem;
}

.preloader_finish {
  opacity: 0;
  pointer-events: none;
}

/* upper bar */
.upper_bar {
  background: -webkit-gradient(linear, left top, right top, from(#ff5300), to(#ff7738));
  background: linear-gradient(90deg, #ff5300 0%, #ff7738 100%);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4rem;
  font-size: 1.2rem;
  color: white;
}

.upper_bar a {
  background: white;
  margin-left: 1rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
  text-transform: capitalize;
  color: #ff5300;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper_bar a:nth-of-type(1) {
  background: transparent;
  color: white;
}

.upper_bar a span {
  all: unset;
}

.upper_bar a span:first-child {
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.upper_bar > div {
  z-index: 50;
}

.upper_bar span {
  display: block;
  margin: 0.5rem;
  font-size: 1.4rem;
}

.upper_bar_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 490px) {
  .blog_content {
    width: 90% !important;
    margin: 2rem auto 0 auto !important;
  }
  .body_menu {
    overflow: hidden;
  }
  .search_results {
    width: 90%;
  }
}

.search_container {
  overflow: scroll;
}

.about_me {
  margin-top: -8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15rem;
}

@media (max-width: 490px) {
  .about_me {
    padding: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_me h2 {
    margin: 2rem 0 !important;
    text-align: center;
  }
  .about_me p {
    width: 90% !important;
    padding: 0 !important;
    margin: 0 auto;
  }
  .about_me .main_img {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about_me .main_img img {
    height: 100%;
  }
}

.about_me h2 {
  line-height: 44px;
  font-size: 3.2rem;
  margin: 10rem 0 3rem -8rem;
}

.about_me p {
  font-size: 1.5rem;
  line-height: 23px;
  color: #777777;
  margin-bottom: 3rem;
  padding-left: 3rem;
  width: 60ch;
}

.featured {
  margin: 10rem 0;
}

@media (max-width: 490px) {
  .featured {
    margin: 2rem 0;
  }
  .featured h2 {
    line-height: 35px;
  }
  .featured .companies {
    width: 100% !important;
    margin-bottom: 5rem !important;
  }
}

.featured .companies {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.featured .companies img {
  margin: 1rem 2rem;
}

@media (max-width: 490px) {
  .about_video h2 {
    line-height: 35px;
  }
  .about_video p {
    width: 100% !important;
  }
  .about_video img {
    width: 100%;
  }
}

.about_video p {
  text-align: center;
  margin: 0 auto;
  width: 80ch;
  font-size: 1.5rem;
  line-height: 23px;
  color: #777777;
  margin-bottom: 2rem;
}

.about_video img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 490px) {
  .all_episodes {
    padding: 0;
  }
}

.all_episodes .main_content {
  -webkit-box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
          box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
  margin-top: -8rem;
  background-color: #ffff;
  padding: 2rem 0;
  border-radius: 8px;
}

.podcast_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 4rem auto;
  height: 198px;
}

@media (max-width: 490px) {
  .podcast_article .the_img {
    display: none !important;
  }
  .podcast_article .the_content {
    width: 100% !important;
    padding: 0 !important;
  }
  .podcast_article .the_content h3 {
    line-height: 30px !important;
  }
  .podcast_article .the_content .audio_player {
    margin: 1rem 0;
  }
  .podcast_article .the_content .audio_player .progress_bar input {
    width: 170px !important;
  }
  .podcast_article .the_content .audio_player span {
    display: none;
  }
  .podcast_article .the_tags {
    display: none !important;
  }
}

.podcast_article .the_img {
  height: 198px;
  width: 25%;
  border-radius: 1rem;
  overflow: hidden;
}

.podcast_article .the_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.podcast_article .the_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 550px;
  padding: 0 1rem;
}

.podcast_article .the_content h3 {
  font-size: 2.4rem;
  line-height: 60px;
}

.podcast_article .the_content .audio_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.podcast_article .the_content .audio_player button,
.podcast_article .the_content .audio_player a {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

.podcast_article .the_content .audio_player button:hover,
.podcast_article .the_content .audio_player a:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.podcast_article .the_content .audio_player button i,
.podcast_article .the_content .audio_player a i {
  font-size: 2rem;
  margin: 0 1rem;
  color: #222222;
}

.podcast_article .the_content .audio_player .volume {
  position: relative;
  width: 50px;
}

.podcast_article .the_content .audio_player .volume input {
  -webkit-appearance: none;
  position: absolute;
  width: 80px;
  background-color: #ff5300;
  height: 5px;
  border-radius: 3rem;
  outline: none;
  bottom: -100%;
  right: 0%;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 400ms ease, -webkit-transform 400ms ease;
  transition: opacity 400ms ease, -webkit-transform 400ms ease;
  transition: transform 400ms ease, opacity 400ms ease;
  transition: transform 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
}

.podcast_article .the_content .audio_player .volume input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #222222;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.podcast_article .the_content .audio_player .play_btn i {
  font-size: 4rem;
  color: #ff5300;
}

.podcast_article .the_content .audio_player span {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff5300;
  width: 35px;
}

.podcast_article .the_content .audio_player .progress_bar input {
  -webkit-appearance: none;
  width: 250px;
  color: #ff5300;
  background-color: #ff5300;
  border: none;
  height: 6px;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
}

.podcast_article .the_content .audio_player .progress_bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ff5300;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 10px solid white;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

.podcast_article .the_content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777777;
  line-height: 23px;
}

.podcast_article .the_tags {
  margin-left: 0.5rem;
  padding-left: 2rem;
  border-left: 1px solid #e5e5e5;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.podcast_article .the_tags span {
  display: block;
  color: #c2c2c2;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.podcast_article .the_tags span a {
  color: #c2c2c2;
}

.main_blog_posts h2 {
  margin: 2rem 0;
}

.main_blog_posts .list_article {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  gap: 3rem;
}

.main_blog_posts .list_article article {
  padding: 4rem 3rem 0 3rem;
  height: 400px;
  width: 350px;
  -webkit-box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
          box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
  border-radius: 6px;
  margin: 2rem 0rem;
}

.main_blog_posts .list_article article .credits {
  margin-left: -3rem;
  border-left: 3px solid #ff5300;
  padding-left: 3rem;
}

.main_blog_posts .list_article article .credits .author {
  font-size: 1.6rem;
  color: #ff5300;
  text-transform: capitalize;
}

.main_blog_posts .list_article article .credits span {
  font-size: 1.4rem;
  color: #acacac;
}

.main_blog_posts .list_article article .credits span a {
  color: #acacac;
}

.main_blog_posts .list_article article .credits span:last-child {
  display: block;
  margin-top: 0.5rem;
}

.main_blog_posts .list_article article .main h3 {
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 34px;
  margin: 2rem 0;
  min-height: 110px;
}

.main_blog_posts .list_article article .main p {
  line-height: 23px;
  font-size: 1.5rem;
  color: #777777;
  margin-bottom: 4rem;
  max-height: 60;
}

.main_blog_posts .list_article article .main .read_more_btn a {
  background-color: unset;
  color: #ff5300;
  border: 1px solid #ff5300;
}

.main_blog_posts .pagination_container {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_blog_posts i {
  font-size: 2rem;
  color: #222222;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  margin: 0 1rem;
}

.main_blog_posts i:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.form_container {
  width: 80rem;
  -webkit-box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
          box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
  border-radius: 8px;
  margin: -20rem auto 0 auto;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem;
}

@media (max-width: 490px) {
  .form_container {
    width: 100%;
    padding: unset;
  }
  .form_container form {
    padding: 2rem !important;
  }
}

.form_container form {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 0 6rem;
}

.form_container form .upper_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.form_container form .upper_container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form_container form .container label {
  display: block;
  color: #222222;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.form_container form .container input,
.form_container form .container textarea,
.form_container form .container select {
  width: 100%;
  font-size: 1.4rem;
  color: #777777;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  margin: 1rem 0 3rem 0;
}

.form_container form .container input::-webkit-input-placeholder,
.form_container form .container textarea::-webkit-input-placeholder,
.form_container form .container select::-webkit-input-placeholder {
  color: #afafaf;
}

.form_container form .container input:-ms-input-placeholder,
.form_container form .container textarea:-ms-input-placeholder,
.form_container form .container select:-ms-input-placeholder {
  color: #afafaf;
}

.form_container form .container input::-ms-input-placeholder,
.form_container form .container textarea::-ms-input-placeholder,
.form_container form .container select::-ms-input-placeholder {
  color: #afafaf;
}

.form_container form .container input::placeholder,
.form_container form .container textarea::placeholder,
.form_container form .container select::placeholder {
  color: #afafaf;
}

.form_container form .container span span {
  color: #ff5300;
  font-size: 1.4rem;
  margin: -2rem 0 2rem 0;
}

.form_container form .container textarea {
  height: 150px;
}

.form_container form .btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.form_container form .wpcf7-response-output {
  border: none;
  color: red;
  font-size: 1.4rem;
  margin: 2rem 0;
  padding: 0;
}

.blog_content {
  width: 60%;
  margin: 15rem auto 0 auto;
}

.blog_content h1 {
  text-align: unset;
  line-height: 44px;
}

.blog_content .credits {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_content .credits .author {
  font-size: 1.6rem;
  color: #ff5300;
  text-transform: capitalize;
}

.blog_content .credits span,
.blog_content .credits a {
  font-size: 1.4rem;
  color: #acacac;
  margin-right: 0.9rem;
  font-weight: 400;
  text-decoration: none;
}

.blog_content p {
  font-size: 1.5rem;
  line-height: 23px;
  color: #555555;
  margin: 2rem 0;
}

.blog_content h2 {
  font-size: 2.4rem;
  margin: 4rem 0;
}

.blog_content h3 {
  font-size: 1.8rem;
  margin: 2rem 0;
}

.blog_content a {
  color: #ff5300;
  text-decoration: underline;
  font-weight: 700;
}

.blog_content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog_content ul {
  list-style: unset;
}

.blog_content ul li {
  margin-left: 4rem;
  font-size: 1.5rem;
  line-height: 23px;
  color: #555555;
}

.blog_content ul li::marker {
  color: #ff5300;
  font-size: 3rem;
}

.comment_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8rem auto 4rem auto;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment_section h3 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.comment_section h3 a {
  color: #777777;
}

.comment_section form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment_section form p.comment-form-cookies-consent {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comment_section form p:first-child {
  display: none;
}

.comment_section form p:nth-child(2) label {
  font-size: 2.4rem;
}

.comment_section form p:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.comment_section form p:nth-child(6) input {
  margin-bottom: 0;
  margin-right: 2rem;
  background-color: #ff5300;
  color: white;
  outline: none;
}

.comment_section form p:nth-child(6) label {
  margin-bottom: 0;
  font-weight: 400;
}

.comment_section form p:last-child input {
  margin-bottom: 0;
  padding: 0;
  width: 25%;
  height: 35px;
  border-radius: 4px;
  background-color: #ff5300;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.comment_section form p input,
.comment_section form p textarea {
  outline: none;
  border: 1px solid #e5e5e5;
  height: 30px;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  padding: 2rem 1.2rem;
}

.comment_section form p textarea {
  height: 150px;
}

.comment_section form label {
  font-size: 1.4rem;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 700;
}

.comment_section .commentlist {
  margin: 4rem;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 2rem;
  width: 450px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.comment_section .commentlist ol {
  list-style: none;
}

.comment_section .commentlist li {
  margin-bottom: 4rem;
}

.comment_section .commentlist li ul li {
  margin: 4rem 0;
  padding-left: 3rem;
}

.comment_section .commentlist li ul li .comment-author {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.comment_section .commentlist li ul li .comment-author span {
  display: none;
}

.comment_section .commentlist li ul li .comment-author cite {
  margin: 0 1rem;
  text-transform: capitalize;
}

.comment_section .commentlist li ul li .comment-author cite a {
  color: #222222;
}

.comment_section .commentlist li ul li .comment-meta {
  font-size: 1rem;
}

.comment_section .commentlist li ul li .comment-meta a {
  color: #555555;
}

.comment_section .commentlist li ul li p {
  font-size: 1.4rem;
  margin: 1rem 0 3rem 0;
}

.comment_section .commentlist li ul li .reply a {
  color: #ff5300;
  background-color: transparent;
  padding: 1rem 1.5rem;
  border: 1px solid #ff5300;
  border-radius: 4px;
  font-size: 1.4rem;
  font-style: italic;
}

.comment_section .commentlist li .comment-author {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.comment_section .commentlist li .comment-author span {
  display: none;
}

.comment_section .commentlist li .comment-author cite {
  margin: 0 1rem;
  text-transform: capitalize;
}

.comment_section .commentlist li .comment-meta {
  font-size: 1rem;
}

.comment_section .commentlist li .comment-meta a {
  color: #555555;
}

.comment_section .commentlist li p {
  font-size: 1.4rem;
  margin: 1rem 0 3rem 0;
}

.comment_section .commentlist li .reply a {
  color: #ff5300;
  background-color: transparent;
  padding: 1rem 1.5rem;
  border: 1px solid #ff5300;
  border-radius: 4px;
  font-size: 1.4rem;
  font-style: italic;
}

@media (max-width: 490px) {
  .comment_section {
    width: 100%;
  }
  .comment_section .comment-respond {
    width: 100%;
  }
  .comment_section .commentlist {
    margin: unset !important;
    width: 100% !important;
    margin-bottom: 3rem !important;
  }
}

.like_button {
  all: unset;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  cursor: pointer;
}

.like_button svg {
  height: 15px;
  width: 15px;
  margin-right: 1rem;
  color: red;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.like_button.like_button[data-liked="false"] svg:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.notes_section .links {
  display: none;
}

.notes_content h2 {
  text-transform: uppercase;
  text-align: center;
}

.notes_content .notes ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
  border-bottom: 2px solid #ff5300;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  position: relative;
}

.notes_content .notes ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes_content .notes ul li div label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.notes_content .notes ul li div button {
  margin-bottom: 1rem;
  padding: 1rem 1.4rem;
  text-transform: capitalize;
  margin-left: 1rem;
  background-color: #ff5300;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #ff5300;
  -webkit-transition: color 250ms ease, background-color 250ms ease;
  transition: color 250ms ease, background-color 250ms ease;
}

.notes_content .notes ul li div button:hover {
  color: #ff5300;
  background-color: transparent;
}

.notes_content .notes ul li label {
  color: black;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: bold;
}

.notes_content .notes ul li input,
.notes_content .notes ul li textarea {
  margin-bottom: 4rem;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 1.4rem;
  outline: none;
}

.popup_note {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 250px;
  background: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid rgba(255, 83, 0, 0.7);
  -webkit-box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
          box-shadow: 0px 20px 20px rgba(62, 62, 62, 0.1);
  visibility: hidden;
}

.save_note {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 0;
  margin-bottom: 1rem;
  padding: 1rem 1.4rem;
  text-transform: capitalize;
  margin-left: 1rem;
  background-color: #ff5300;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #ff5300;
  display: none;
  -webkit-transition: color 250ms ease, background-color 250ms ease;
  transition: color 250ms ease, background-color 250ms ease;
}

.save_note:hover {
  color: #ff5300;
  background-color: transparent;
}

.flashy_note {
  -webkit-animation: flashy 800ms ease-in-out 100ms infinite alternate;
          animation: flashy 800ms ease-in-out 100ms infinite alternate;
}

@-webkit-keyframes flashy {
  from {
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  to {
    border: 2px solid rgba(0, 0, 0, 0.9);
  }
}

@keyframes flashy {
  from {
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  to {
    border: 2px solid rgba(0, 0, 0, 0.9);
  }
}

.create_note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto 10rem auto;
  position: relative;
}

.create_note input,
.create_note textarea {
  margin-bottom: 1rem;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 1.4rem;
  outline: none;
}

.create_note button {
  border: none;
  width: 50%;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid #ff5300;
  -webkit-transition: color 250ms ease, background-color 250ms ease;
  transition: color 250ms ease, background-color 250ms ease;
}

.create_note button:hover {
  color: #ff5300;
  background-color: transparent;
}

.create_note::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1%;
  width: 0%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: width 800ms ease-in-out;
  transition: width 800ms ease-in-out;
}

.create_note.bar::after {
  width: 200%;
}

.alert_note {
  color: red;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.alert_note.alert_active {
  opacity: 1;
  visibility: visible;
  color: red;
}
